<h1>User</h1>
<pre>{{ user | json }}</pre>

<h1>Users</h1>
<pre>{{ users | json }}</pre>
<button (click)="getUsers()">Get Users</button>

<h1>Authorities</h1>
<pre>{{ authorities | json }}</pre>
<button (click)="getAuthorities()">Get Authorities</button>

<h1>Add User</h1>
<label>Username: </label>
<input [(ngModel)]="newUser.username">
<br>
<label>Password: </label>
<input [(ngModel)]="newUser.password">
<br>
<label>Confirmation Password: </label>
<input [(ngModel)]="newUser.confirmationPassword">
<br>
<label>Role: </label>
<input [(ngModel)]="newUser.role">
<br>
<button (click)="addUser()">Post</button>

<h1>Change Password</h1>
<label>Current Password: </label>
<input [(ngModel)]="passwordChange.oldPassword">
<br>
<label>New Password: </label>
<input [(ngModel)]="passwordChange.newPassword">
<br>
<label>Confirmation Password: </label>
<input [(ngModel)]="passwordChange.confirmationPassword">
<br>
<button (click)="changePassword()">Change Password</button>

<h1>Change Username</h1>
<label>User ID: </label>
<input [(ngModel)]="usernameChange.userId">
<br>
<label>New Username: </label>
<input [(ngModel)]="usernameChange.newUsername">
<br>
<button (click)="changeUsername()">Change Username</button>

<h1>Logout</h1>
<button (click)="deleteAuth()">Delete Auth</button>
